<!DOCTYPE html>
<html>
  <head>
    <title>Groupthink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "chat_logo.svg", alt: "Chat logo" %>
          <%= Settings.instance.name %>
        <% end %>
      </div>
    </nav>

    <div id="main" class="container">
      <%= yield %>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p>Copyright &copy; <%= Time.now.year %> <%= Settings.instance.name %></p>
      </div>
    </footer>
  </body>
</html>
